body{
  margin: 0;
  padding: 0;
  background-image: url('@/assets/photo.webp');
  background-repeat: repeat;
width: 100vw;
}
.produit {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: linear-gradient(145deg, #121212, #1e1e1e);
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #fff;
}

.produit > div {
  display: flex;
  flex-direction: column;
}

.produit > div:nth-child(2), .produit > div:nth-child(3) {
  padding: 10px;
  background: linear-gradient(145deg, #232323, #2e2e2e);
  border-radius: 10px;
}
ul {
  list-style: none; 
  padding: 0;
  margin: 0;
  background: #111; 
  overflow: hidden; 
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); 
}

li {
  width: 100%;
  padding: 10px 20px; 
  color: #fff;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

li:last-child {
  border-bottom: none;
}

li {
  background: linear-gradient(90deg, #06f, #f0f); 
  cursor: pointer; 
}

li:hover {
  animation: hoverAnimation 0.5s forwards;
}

@keyframes hoverAnimation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

.wrapper nav .navi {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin: 0 10px;
  padding: 10px 20px;
  text-transform: uppercase;
  outline: none;
  position: relative;
  transition: all 0.5s ease;
  font-family: 'FuturisticFont', sans-serif; 
}

.wrapper nav .navi:hover,
.wrapper nav .navi:focus {
  background: rgba(255, 255, 255, 0.2);
  color: #000;
  border-color: transparent;
}


.wrapper nav {
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  text-align: center;
  padding: 10px 0;
  position:relative;
  width: 100%;
  height: 40px;
  top: 0;
  z-index: 1000;
}

.wrapper nav button  {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin: 0 10px;
  padding: 10px 20px;
  text-transform: uppercase;
  outline: none;
  position: relative;
  transition: all 0.5s ease;
}

.wrapper nav button:hover,
.wrapper nav button:focus {
  background: rgba(255, 255, 255, 0.2);
  color: #000;
  border-color: transparent;
}

.wrapper nav button:after {
  content: "";

  display: block;
  position: absolute;

  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.5s;
}

.wrapper nav button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.wrapper nav button:focus {
  outline: none;
}

.wrapper nav button:hover:after {
  opacity: 1;

  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 0.3s ease-in-out;
}

.wrapper nav button {
  font-family: 'FuturisticFont', sans-serif;
}



li.payment-info {
  display: flex; 
  justify-content: space-between; 
  width: calc(100% - 40px);
}

li.payment-info span {
  flex-shrink: 0;
}
h2{
  
  margin: 20px 0 20px 20px; 
  padding: 20px;
  background: linear-gradient(145deg, #121212, #1e1e1e);
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  color: #fff;
  width: fit-content;
  position: relative;
}

.img-produit{
  width: 100%; 
  max-width: 200px; 
  height: auto; 
  border-radius: 10px;
  border: 3px solid #ccc;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
  margin: 20px 0; 
  transition: transform 0.3s ease;

}